# Virtual environment
venv/

# Environment variables
.env

# Service account credentials
service-account.json
*.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VS Code
.vscode/

# Mac
.DS_Store